<div class="control-group">
  <label for="task-description" class="control-label">Description</label>
  <div class="controls">
    <input type="text" required="required" id="task-description" name="task[description]" value="<%= @task.description unless @task.nil? %>" />
  </div>
</div>

<div class="control-group">
  <label for="task-project" class="control-label">Project</label>
  <div class="controls">
    <input type="text" id="task-project" name="task[project]" value="<%= @task.project unless @task.nil? %>" autocomplete="off" />
  </div>
</div>

<div class="control-group">
  <label for="task-due" class="control-label">Due date</label>
  <div class="controls">
    <input class="date-picker" type="text" id="task-due" name="task[due]" value="<%= format_date(@task.due) unless @task.nil? || @task.due.blank? %>" data-date-format="<%= @date_format %>" />
  </div>
</div>

<div class="control-group">
  <label for="task-wait" class="control-label">Hide until</label>
  <div class="controls">
    <input class="date-picker" type="text" id="task-wait" name="task[wait]" value="<%= format_date(@task.wait) unless @task.nil? || @task.wait.blank? %>" data-date-format="<%= @date_format %>" />
    <span class="help-block">If specified, the task will appear in the <a href="/tasks/waiting">Waiting</a> list until the given date.</span>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Priority</label>
  <div class="controls">
    <label for="task-priority-none" class="radio inline">
      <input type="radio" id="task-priority-none" name="task[priority]" value=""<% if @task.nil? || @task.priority.blank? %> checked="checked"<% end %> /> None
    </label>
    <% {'L' => 'Low', 'M' => 'Medium', 'H' => 'High'}.each_pair do |value, label| %>
      <label for="task-priority-<%= label.downcase %>" class="radio inline">
        <input type="radio" id="task-priority-<%= label.downcase %>" name="task[priority]" value="<%= value %>"<% if @task && @task.priority == value %> checked="checked"<% end %> />
        &nbsp;<%= label %>
      </label>
    <% end %>
  </div>
</div>

<div class="control-group">
  <label for="task-tags" class="control-label">Tags</label>
  <div class="controls">
    <input type="text" id="task-tags" name="task[tags]" value="<%= @task.tags.join(', ') unless @task.nil? %>" autocomplete="off" />
    <span class="help-block">Enter tags separated by commas or spaces (e.g. <em>each, word will,be a tag</em>)</span>
  </div>
</div>
