<div class="row">
  <div class="span3" id="sidebar">
    <ul class="nav nav-list" data-spy="affix" data-offset-top="125">
      <% @tasks.keys.each do |project| %>
        <li>
          <a href="#project-<%= project.parameterize %>"><i class="icon-chevron-right"></i> <%= project %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="span9">
    <div id="listing">
      <% @tasks.each do |proj, tasks| %>
        <section class="project-container" id="project-<%= proj.parameterize %>">
          <h2 class="project">
            <%= proj %>&nbsp;
            <a href="/projects/<%= linkify(proj) %>"><i class="icon-circle-arrow-right"></i></a>
          </h2>
          <%= progress_bar(tasks) %>
          <table class="table table-striped table-hover table-sortable">
            <thead>
              <tr>
                <th>Description</th>
                <th>Due</th>
                <th>Tags</th>
                <th>Priority</th>
                <% if @can_edit %><th class="no-sort"></th><% end %>
              </tr>
            </thead>
            <tbody>
              <% tasks.each do |task| %>
                <tr class="<%= colorize_date(task.due) if task.active? %> <%= task.status %>">
                  <td><%= task.description %></td>
                  <td><%= format_date(task.due) unless task.due.nil? %></td>
                  <td><%= format_tags(task.tags) unless task.tags.nil? %></td>
                  <td><%= task.priority unless task.priority.nil? %></td>
                  <% if @can_edit %><td><%= crud_links(task) if task.active? %></td><% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </section>
        <hr class="section-separator" />
      <% end %>
    </div>
  </div>
</div>

<% if @can_edit %>
  <div id="annotations-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="annotations-modal-label" aria-hidden="true">
  </div>
<% end %>
