<%= progress_bar(@tasks) %>

<div id="listing">
  <table class="table table-striped table-hover table-sortable">
    <thead>
      <tr>
        <th>Description</th>
        <th>Due</th>
        <th>Tags</th>
        <th>Priority</th>
        <% if @can_edit %><th class="no-sort"></th><% end %>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class="<%= colorize_date(task.due) if task.active? %> <%= task.status %>">
          <td><%= task.description %></td>
          <td><%= format_date(task.due) unless task.due.nil? %></td>
          <td><%= format_tags(task.tags) unless task.tags.nil? %></td>
          <td><%= task.priority unless task.priority.nil? %></td>
          <% if @can_edit %><td><%= crud_links(task) if task.active? %></td><% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
