<div id="listing">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Project</th>
        <th>Due</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class="<%= colorize_date(task.due) %>">
          <td><input type="checkbox" <%= 'checked="checked" ' if task.status == 'completed' %>class="tooltip" data-task="<%= task.uuid %>" data-tooltip="Mark as complete" /></td>
          <td><%= task.description %></td>
          <td><%= task.project %></td>
          <td><%= format_date(task.due) unless task.due.nil? %></td>
          <td><%= task.tags.join(', ') unless task.tags.nil? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
