<div id="listing">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Project</th>
        <th>Due</th>
        <th>Tags</th>
        <th>Priority</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <% if task.status == 'pending' %>
          <tr class="<%= colorize_date(task.due) %>">
            <td><input type="checkbox" <%= 'checked="checked" ' if task.status == 'completed' %> class="<%= task.status %>" data-task="<%= task.id %>" /></td>
          <% else %>
            <tr class="<%= task.status %>">
              <td></td>
          <% end %>
          <td><%= task.description %></td>
          <td><a href="/projects/<%= linkify(task.project, :project) %>"><%= task.project %></a></td>
          <td><%= format_date(task.due) unless task.due.nil? %></td>
          <td><%= task.tags.join(', ') unless task.tags.nil? %></td>
          <td><%= task.priority unless task.priority.nil? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
