<% tabs = { '/tasks' => 'Tasks', '/projects' => 'Projects' } %>
<nav id="navigation">
  <ul class="tabs">
    <% tabs.each do |path, text| %>
      <li><a href="<%= path %>"<%= ' class="selected"' if @current_page.index(path) == 0 %>><%= text %></a></li>
    <% end %>
  </ul>
</nav>
<nav id="subnav-bar">
  <ul>
    <% if @subnav %>
      <% @subnav.each do |path, text| %>
        <li><a href="<%= path %>"<%= ' class="selected"' if @current_page.index(path) == 0 %>><%= text %></a></li>
      <% end %>
    <% end %>
  </ul>
</nav>
