<html>
  <head>
    <title><%= @title %> | TaskwarriorWeb</title>

    <!-- Styles -->
    <% ['bootstrap.min', 'datepicker', 'styles'].each do |file| %>
      <link rel="stylesheet" href="<%= url("/css/#{file}.css") %>">
    <% end %>

    <!-- Scripts -->
    <% ['jquery.min', 'bootstrap', 'bootstrap-datepicker', 'application'].each do |file| %>
      <script text="text/javascript" src="<%= url("/js/#{file}.js") %>"></script>
    <% end %>
  </head>

  <body data-spy="scroll" data-offset="60" data-target="#sidebar">
    <div id="page" class="container">
      <%= erb :_topbar %>
      <%= erb :_subnav %>
      <section class="content">
        <%= erb :_flash %>
        <%= yield %>
      </section>
    </div>
</html>
