<html>
  <head>
    <title><%= @title %> | TaskwarriorWeb</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/datepicker.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>

  <body>
    <div id="page" class="container">
      <%= erb :_topbar %>
      <%= erb :_subnav %>
      <section class="content">
        <div class="clearer"></div>
        <div id="flash-messages">
          <% if @messages %>
            <% @messages.each do |message| %>
              <div class="alert <%= message[:severity] %>"><%= message[:message] %></div>
            <% end %>
          <% end %>
        </div>
        <%= yield %>
      </section>
    </div>
</html>
