<!DOCTYPE HTML>
<html>
  <head>
    <title><%= @title %> | TaskwarriorWeb</title>

    <!-- Styles -->
    <% %w(bootstrap.min datepicker styles).each do |file| %>
      <link rel="stylesheet" href="<%= url("/css/#{file}.css") %>">
    <% end %>

    <!-- Scripts -->
    <% %w(jquery.min bootstrap bootstrap-datepicker jquery.hotkeys jquery.dataTables.min tinycon.min application).each do |file| %>
      <script text="text/javascript" src="<%= url("/js/#{file}.js") %>"></script>
    <% end %>
  </head>

  <body data-spy="scroll" data-offset="60" data-target="#sidebar">
    <div id="wrap">
      <div id="page" class="container">
        <%= erb :'partials/_topbar' %>
        <%= erb :'partials/_subnav' %>
        <section class="content">
          <%= erb :'partials/_flash' %>
          <%= yield %>
        </section>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container muted">
        <%= erb :'partials/_footer' %>
      </div>
    </div>
    <%= erb :'partials/_help' %>
  </body>
</html>
