<div id="listing">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <% if params[:status] == 'pending' %>
          <th></th>
        <% end %>
        <th>Description</th>
        <th>Project</th>
        <th>Due</th>
        <th>Tags</th>
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <% if task.status == 'pending' %>
          <tr class="<%= colorize_date(task.due) %>">
        <% else %>
          <tr class="<%= task.status %>">
        <% end %>
          <% if params[:status] == 'pending' %>
            <td><input type="checkbox" class="complete" data-task-id="<%= task.uuid %>" /></td>
          <% end %>
          <td>
            <%= task.description %>
            <% unless task.annotations.nil? || task.annotations.empty? %>
              <ul>
                <% task.annotations.each do |annotation| %>
                  <li><%= format_date(annotation['entry']) %>: <%= auto_link(annotation['description']) %></li>
                <% end %>
              </ul>
            <% end %>
          </td>
          <td><a href="/projects/<%= linkify(task.project) %>"><%= task.project %></a></td>
          <td><%= format_date(task.due) unless task.due.nil? %></td>
          <td><%= task.tags.join(', ') unless task.tags.nil? %></td>
          <td><%= task.priority unless task.priority.nil? %></td>
          <td>
            <a href="/tasks/<%= task.uuid %>">Edit</a>
            &nbsp;|&nbsp;
            <a href="/tasks/<%= task.uuid %>/delete">Delete</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
