<div id="listing">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Due</th>
        <th>Tags</th>
        <th>Priority</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <% if task.status == 'pending' %>
          <tr class="<%= colorize_date(task.due) %>">
            <td><%= task.description %></td>
            <td><%= format_date(task.due) unless task.due.nil? %></td>
            <td><%= task.tags.join(', ') unless task.tags.nil? %></td>
            <td><%= task.priority unless task.priority.nil? %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
